h1, h2, h3, h4 {
    margin-bottom: 1rem;
}
pre {
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
    white-space:pre-wrap;
    border-left: 0.3rem #0057a2 solid;
}
.header {
    height: 62px;
    background-color: white;
    box-sizing: border-box;
    padding: 1.25em;
}
.img_header {
    max-height: 2.5rem;
}
.button {
    background-color: #0057a2;
    border: none;
}
.button-large {
    font-size: 1.4rem;
    height: 8rem;
    line-height: 8rem;
    padding: 0 2rem;
}
.videoBox {
    width: 100%;
}
.videoStyle {
    border: 0.1rem solid gray
}
.row {
    margin-left: 0;
}
.row .column {
    margin-bottom: inherit;
    padding: 0 4rem;
}
.show_result {
    border: 1px solid gray;
    width: 100%;
    max-width: 480px;
    min-height: 4rem;
    border-left: 0.7rem #0057a2 solid;
    border-radius: 0.3rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
}
.resultCode {
    font-size: 2rem;
    line-height: 2.25rem;
    white-space: pre-wrap;
    overflow: auto;
}
@media only screen and (max-width: 600px) {
    .videoStyle {
        height: 160px;
        width: 100%;
    }
}
@media only screen and (min-width: 601px) {
    .videoStyle {
        height: 340px;
        width: 480px;
    }
}