.resultCode {
    font-size: 2rem;
}

.button-large {
    font-size: 1.4rem;
    height: 8rem;
    line-height: 8rem;
    padding: 0 2rem;
}

@media only screen and (max-width: 600px) {
    .videoStyle {
        height: 240px;
        width: 320px;
    }
}

@media only screen and (min-width: 601px) {
    .videoStyle {
        height: 340px;
        width: 480px;
    }
}