pre {
    border-left: 0.3rem #0057a2 solid;
}
.resultCode {
    font-size: 2rem;
}

.button {
    background-color: #0057a2;
    border: none;
}

.button-large {
    font-size: 1.4rem;
    height: 8rem;
    line-height: 8rem;
    padding: 0 2rem;
}

.videoBox {
    width: 100%;
}

.videoStyle {
    border: 0.1rem solid gray
}

@media only screen and (max-width: 600px) {
    .videoStyle {
        height: 200px;
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .videoStyle {
        height: 340px;
        width: 480px;
    }
}